<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
	<h2>To Do application</h2>
	<table class="table">
	<thead>
	    <tr>
	      <th scope="col">Date Create</th>
	      <th scope="col">Title</th>
	      <th scope="col">description</th>
	      <th scope="col">state</th>
	    </tr>
  	</thead>
  	<tbody>
  	<tr th:each="task: ${taskList}" th:if=${task.state}>
		<td th:text="${task.createdAt}"></td>
		<td th:text="${task.title}"></td>
		<td th:text="${task.description}"></td>
		<td>
			<form action="#" th:action="@{'/finishtask/' + ${task.id}}" method="get">
				<input type="checkbox" name="todo" onChange="this.form.submit()">
				<label for="todo">To do</label>
			</form>
		</td>
	<tr>
	<tr th:each="task: ${taskList}" th:if=${!task.state}>
		<td class="line" th:text="${task.createdAt}"></td>
		<td class="line" th:text="${task.title}"></td>
		<td class="line" th:text="${task.description}"></td>
		<td>
		<form action="#" th:action="@{'/finishtask/' + ${task.id}}" method="get">
				<input type="checkbox" name="finish" onChange="this.form.submit()" checked>
				<label for="finish">Finish</label>
			</form>
		</td>
	<tr>
  	</tbody>
	</table>			
</html>