<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
	<h2>To Do application</h2>
	<table class="table">
	<thead>
	    <tr>
	      <th scope="col">Date Create</th>
	      <th scope="col">Title</th>
	      <th scope="col">state</th>
	      <th scope="col">Detail</th>
	    </tr>
  	</thead>
  	<tbody>
  	<tr th:each="task: ${taskList}" >
		<td th:text="${task.createdAt}" th:classappend="${task.state} ? '' : line"></td>
		<td th:id="${task.id}" th:text="${task.title}" th:classappend="${task.state} ? '' : line"></td>
		<td>
			<form action="#" th:action="@{'/finishtask/' + ${task.id}}" method="get">
				<input type="checkbox" name="todo" onChange="this.form.submit()" th:checked="${!task.state}">
				<label for="todo" th:text="${task.state}? 'To do' : 'Finish'"></label>
			</form>
		</td>
		<td>
			<a th:href="@{'/detail/' + ${task.id}}" target="_blank">Detail task</a>
		</td>
	<tr>
  	</tbody>
	</table>			
</html>